header
{
  width: 100%;
  height: 400px;
}
footer
{
  font-size: 2em;
}



/* Always set the map height explicitly to define the size of the div
  * element that contains the map. */
  #map {
  height: 100%;
}
/* Optional: Makes the sample page fill the window. */
html, body {
  height: 100%;
}
#fenetreLoc, #fenetreResa
{
  z-index: 1;
  width: 20%;
  height: 40%;
  border: 1px solid rgb(173, 173, 173);
  border-radius: 5px;
  background-color:rgb(245, 245, 245);
  position: absolute;
  top: 300px;
  right: 5%;
  text-align: center;
}
.adresse
{
  padding: 10px;
  font-size: 1.5em;
}
.infoStation
{
  font-size: 1.3em;
  margin: 15px;
  padding: 5px;
  text-align: left;
  border: 2px solid rgb(173, 173, 173);
}
#bouton
{
  position: absolute;
  left: 3%;
  top: 80%;
  font-size: 1.3em;
}
#canvas
{
  border: 1px solid black;
}
